.App {
  text-align: center;
}
.radio_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 45px;
}
.p-radiobutton .p-radiobutton-box {
  margin-top: 15px;
}
.radio_wrap p{
  margin-left: 10px;
}
.select-station{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.radio_outer {
  display: flex;
  justify-content: center;
}
.m-r-50{
  margin-right: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
